imgui.ini


# General
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Visual Studio
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
*.dbmdl
*.dbproj
*.ipch/
*.pch
*.vcproj
*.vcxproj*
*.vcxproj.filters
*.vcxproj.user

# Rider
.idea/

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
*.xcuserstate

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Eclipse
.settings/
.classpath
.project
.metadata/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# NetBeans
/nbproject/private/
/nbproject/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Emacs
*~

# Vim
*.swp

# Atom
.atom/

# Jupyter Notebook
.ipynb_checkpoints/

# Other
/out/
/.vs/
/build/
